body {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    background-image: url(./background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background: #282828;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

nav a {
    color: #F2F2F2;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #dcdde1;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color: #F2F2F2;
    position: absolute;
    top: 0;

    transition: all ease-in-out 150ms;
}

nav a:hover::before {
    width: 100%;
}

.title {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1 {
    color: #282828;
    font-size: 70px;

    overflow: hidden;
    border-right: .15em solid #353b48;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .75s step-end infinite
}

@keyframes typing {
    from {width:0}
    to {width:100%}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #282828 }
}

.title h2 {
    color: #282828;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #282828;
    color: white;
}

.fa-github {
    background: #282828;
    color: white;
}